################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sequence-Set-V2/v16/Browse.VC.db
/.vs/Sequence-Set-V2/v16/.suo
/.vs/Sequence-Set-V2/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
