################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sequence-Set-V2/v16/Browse.VC.db
